<div class="container">
  <div class="row title mb-5 d-md-flex flex-row justify-content-center">
    <h1>Create your shorten URL</h1>
  </div>
  <div class="row d-md-flex flex-row justify-content-center">
    <form action="/" method="post" class="url-input d-flex flex-md-row justify-content-between" novalidate>

      <div class="input-group">

        <input type="url" class="form-control form-control-lg" placeholder="URL shortener" name="originUrl" required>

        <div class="input-group-append">
          <button type="submit" class="btn btn-lg btn-primary">Get My URL</button>
        </div>
        <div class="invalid-feedback">
          Please enter an "url".
        </div>
      </div>

    </form>
  </div>
  {{#if newUrl}}
  <div class="row mt-5 d-md-flex flex-row justify-content-center">
    <div class="alert alert-primary" role="alert" id="display-shortenUrl">
      your shorten url is
      <a href="{{{newUrl}}}" class="alert-link" id="url">{{newUrl}}</a>
    </div>
    <button class="btn btn-secondary copy" data-clipboard-text="{{{newUrl}}}"><i class="fas fa-link"></i></button>
  </div>
  {{/if}}

  {{!-- 如果原始網址已存在 --}}
  {{#if existedOriginUrl}}
  <div class="row mt-5 d-md-flex flex-row justify-content-center">
    <div class="alert alert-primary" role="alert" id="display-shortenUrl">
      此網址已有縮網址:
      <a href="{{{existedOriginUrl}}}" class="alert-link">{{existedOriginUrl}}</a>
      <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{/if}}

</div>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('url-input');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);

  })();
</script>